@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.experience-container{
    padding-left: 40px;
    padding-top: 40px;
}

.my-heading{
    border: 1px solid red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.experience-card-wrapper{
    padding-top: 40px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr;
}

.experience-card{
    padding: 10px;
    margin-left: 50vh;
    width: 60%;
    border: 1px solid #e5e5e5 ;
    margin-bottom: 3em;
    border-radius: 10px;
}

.company-name{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.role-title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.work-description{
    font-size: 20px;
}


@media screen and (max-width: 1360px) {
    .experience-card{
        margin-left: 0;
        width: 90%;
    }
}
